
setuptools 
wheel
pandas 
numpy 
spacy 
textblob
scikit-learn
scipy==1.10.1
transformers
nltk
ipykernel
matplotlib
emoji
gensim
torch
torchvision
tensorflow
transformers
accelerate
ipykernel
fasttext
evaluate
optuna
optuna-dashboard